@charset "UTF-8";

body {
 background-color: beige;
}

dt {
 float: left;
  
 clear: left;
 margin-right: 0.5em;
 width: 60px;
}


div a img {
max-height: 10em
}


#bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
}

#photo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#photo img {
  max-width: 80%;
  max-height: 80%;
  border: 9px solid #fff;
}
